# Packaging
wheel

# Testing
ddt==1.7.2
factory-boy==3.3.3
Faker==40.31.0
pytest==9.1.1
pytest-django==4.12.0
pytest-cov==7.1.0

# Linting
pylint==4.0.6
pylint-django==2.8.0
pylint-plugin-utils==0.9.0
isort==8.0.1
twine==6.2.0
docutils==0.23
