# Packaging
wheel

# Testing
ddt==1.4.2
factory-boy==3.3.0
Faker==13.15.0
pytest==9.0.3
pytest-django==4.5.2

# Linting
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
isort==5.13.2
twine==6.1.0
docutils==0.21.2
