setuptools
ddt
Django<2.3 # Stay on the latest LTS release of Django
django-cors-headers
django-config-models
django_extensions
djangorestframework
django-filter
mysqlclient
factory_boy
pytest
pytest-django
